<h1>{{ exercise.name }}</h1>
<h3>{{ exercise.description }}</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



{% for movement in exercise.movements.all %}
	<h4>{{ movement.name }}</h4>
	{{ movement.description }}
	{% empty %}
	<p> "No movements yet"</p>
{% endfor %}
<p>Rep Length = {{exercise.rep_length}}<br>
{{ exercise.sets }}x{{exercise.reps }}</p>
{% if exercise.rep_rest < -1 %}
	<p>Rest between reps {{ exercise.rep_rest }} seconds</p>
{% else %}
	<p>Work to rest ratio- {{ exercise.work_ratio }}:{{ exercise.rest_ratio }} </p>
{% endif %}
